HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!rest/src/main_/**/build/
!rest/src/test_/**/build/
secret.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!rest/src/main_/**/bin/
!rest/src/test_/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!rest/src/main_/**/out/
!rest/src/test_/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignore Gradle build output directory
build
